:root {
    --darkNavy: #1A2A33;
    --darkerNavy: #10212A;
    --lightNavy: #1F3641;
    --yellow: #F2B137;
    --innerYellow: #CC8B13;
    --lightBlue: #31C3BD;
    --innerLightBlue: #118C87;
    --darkWhite: #A8BFC9;
    --lightWhite: #DBE8ED;
    --gray: #6B8997;
}

html {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: var(--darkNavy);   
    min-height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
}

button {
    cursor: pointer;
}

/* Index Page */

.marksShow {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.pick {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 24px 0 0 0;
}

.marks {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    margin: 24px 0 17px 0;
    background-color: var(--darkNavy);
    width: 412px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.xButton, .oButton {
    padding: 11px 0;
    border-radius: 10px;
    border: none;
    background-color: transparent;
}

.xButton {
    margin: 9px 0 9px 8px;
}

.oButton {
    margin: 9px 8px 9px 0;
}

.xMarkButton, .oMarkButton {
    width: 32px;
    height: 32px;
    color: var(--darkWhite);
}

.pickPlayer {
    text-align: center;
    background-color: var(--lightNavy);
    display: grid;
    place-content: center;
    width: 460px;
    color: var(--darkWhite);
    margin: 40px 0 40px 0;
    box-shadow: inset 0 -8px 0 0 var(--darkerNavy);
    border-radius: 15px;
}

.reminder {
    font-size: 14px;
    color: var(--darkWhite);
    font-weight: 500;
    letter-spacing: 0.88px;
    opacity: 0.5;
    margin: 0 0 30px 0;
}

.newGame {
    display: flex;
    flex-direction: column;
    width: 460px;
}

.CPU {
    margin: 0 0 20px 0;
    background-color: var(--yellow);
    box-shadow: inset 0 -8px 0 0 var(--innerYellow);
    border-radius: 15px;
    border: none;
    padding: 20px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.player {
    background-color: var(--lightBlue);
    box-shadow: inset 0 -8px 0 0 var(--innerLightBlue);
    border-radius: 15px;
    border: none;
    padding: 20px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.25px;
}

/* Game Page */


.controlCenter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 20px 0;
    height: 52px;
}

.xMark, .oMark {
    width: 32px;
    height: 32px;
}

.xGame, .oGame {
    width: 64px;
    height: 64px;
}

.xMark, .xGame {
    color: var(--lightBlue);
}

.oMark, .oGame {
    color: var(--yellow);
}

.xMarkOutline, .oMarkOutline {
    width: 64px;
    height: 64px;
}

.xMarkOutline {
    color: var(--lightBlue);
}

.oMarkOutline {
    color: var(--yellow);
}

.showMarks {
    display: flex;
    align-items: center;
    gap: 8px;
}

.turnDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--lightNavy);
    box-shadow: inset 0 -4px 0 0 var(--darkerNavy);
}

.turn {
    font-weight: bold;
    color: var(--darkWhite);
    letter-spacing: 1px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.restart {
    justify-self: end;
}

.restartMark {
    width: 20px;
    height: 20px;
}

.restartButton {
    border: none;
    border-radius: 10px;
    background-color: var(--darkWhite);
    box-shadow: inset 0 -4px 0 0 var(--gray);
    padding: 16px;
}

.grid {
    width: 460px;
    height: 460px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 20px 0;
    gap: 20px;
}

.block {
    display: grid;
    place-content: center;
    width: 140px;
    height: 140px;
    background-color: var(--lightNavy);
    box-shadow: inset 0 -8px 0 0 var(--darkerNavy);
    border-radius: 15px;
    margin: 0;
}

.score {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.xSlot {
    background-color: var(--lightBlue);
    border-radius: 15px;
}

.xText {
    margin: 13px 0 0 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.88px;
}

.xScore {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0 0 11px 0;
}

.tieSlot {
    background-color: var(--darkWhite);
    border-radius: 15px;
}

.tieText {
    margin: 13px 0 0 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.88px;
}

.tieScore {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0 0 11px 0;
}

.oSlot {
    background-color: var(--yellow);
    border-radius: 15px;
}

.oText {
    margin: 13px 0 0 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.88px;
}

.oScore {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0 0 11px 0;
}

dialog {
    background-color: var(--lightNavy);
    border: none;
    text-align: center;
    width: 100%;
    color: var(--darkWhite);
    font-weight: bold;
    margin: 100px 0 0 0;
}

.round {
    font-size: 40px;
    letter-spacing: 2.5px;
}

.quit {
    font-weight: bold;
    color: var(--darkNavy);
    margin: 0 16px 30px 0;
    border-radius: 10px;
    background-color: #A8BFC9;
    box-shadow: inset 0 -4px 0 0 #6B8997;
    border: none;
    padding: 15px 16px;
}

.next {
    font-weight: bold;
    background-color: #F2B137;
    box-shadow: inset 0 -4px 0 0 #CC8B13;
    border: none;
    border-radius: 10px;
    padding: 15px 16px;
}

.xTurn, .oTurn {
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
}